.container {
  max-width: : 90%;
  font-size: 19px;
}
.navbar .navbar-default {
}
input[type="radio"] {
  margin-right: 10px;
  cursor: pointer;
}
iframe {
  max-width: 90%;
}
*{font-family: Raleway;}

.active {
  background: white;
}
